

header {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    height: 64px;
}

#logo {
    display: flex;
    margin-left: 24px;
}

#logo span {
    color: lightgray;
}

#nav {
    display: flex;
    float: right;
    list-style-type: none;
    margin-right: 24px;
}

#nav li {
    display: inline;
    margin-left: 2em;
    
}

.content1 {
    display: flex;
    width: 100%;
    background-color: lightgray;

}

.banner_image {
    width: 60%;
    height: auto;
    margin: 32px 24px 32px 24px;
}

#banner_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#banner_text h1 {
    line-height: 1em;

}

#banner_text h3 {
    line-height: 1.4em;
}

button {
    width: 160px;
    background-color: darkgray;
    margin-top: 40px;
    
}
.content2 {
    display: flex;
    width: 100%;
    padding-left: 24px;
        
}

.content2 h1 {
    justify-self: center;
}

.centered {
    justify-self: center;
}

#left_content {
    width: 60%;
    padding-top: 32px;
        
}

.banner_image2 {
    width: 100%;
    height: auto; 
    margin-right: 24px;
    
}

#right_content {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-top: 16px;

}

.read_more_box {
    display: flex;
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
}

.read_more_box img {
    width: 35%;
    height: auto;
    padding: 16px;
}

.box_caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.box_caption h2 {
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}

.box_caption h4 {
    top: 20px;
    text-wrap: wrap;
    padding-bottom: 15px;
    margin: 0;
}

.content3 {
    justify-content: center;
    background-color: lightgrey;
    padding-top: 32px;
    padding-left: 56px;
    padding-right: 56px;
    padding-bottom: 32px;
    
}

.content3 h1 {
    justify-self: center;
}

#course_container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 32px;
}

.course_box {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 32px;
    margin-right: 16px;
    margin-left: 16px;
    width: 325px;
    height: 350px;
    
}

.course_box h2 {
    margin-top: 16px;
    margin-left: 16px;
    padding-top: 0;
    padding-bottom: 0;
}

.course_box h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
    padding-top: 0;
    padding-bottom: 0;
}

.course_box h4 {
    margin-left: 16px;
    margin-bottom: 24px;
}

.content4 {

}

.content4 h1 {
    justify-self: center;

}

footer h6 {
    float: right;
}